<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<table id="blogs">
  <thead>
    <th>Title</th>
    <th>Body</th>
    <th>Status</th>
    <th></th>
  </thead>

  <tbody>
    <%= render @blogs%>
  </tbody>
</table>

<%= link_to "New blog", new_blog_path %>
